repos:
- repo: https://github.com/psf/black
  rev: 25.12.0
  hooks:
  - id: black
    args: [--line-length=80]
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    args: [--config=engine/.flake8]
