.carousel {
  margin-top: -100px;

  .carousel-inner {
    .carousel-item {
      max-height: max(60vh, 500px);
    }
  }
}

.marketing {
  .row {
    --bs-gutter-x: 0;
    .img-fluid {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }
}