.gallery-image {
  box-shadow:    0px 0px 10px 0px #afafaf;
  border:        0;
  margin-bottom: 15px;
  width:         100%;

  &.vertical {
      margin-bottom: 15px !important;
      margin:  0 auto;
      display: table;
  }

  @include media-breakpoint-up(md) {
    &.vertical {
      width: 45%;
    }
  }

  .card-title, .card-text {
    text-shadow: 1px 1px 2px #242424;
  }
}

.gallery-video {
  box-shadow:    0px 0px 10px 0px #afafaf;
  border:        0;
  margin-bottom: 15px;
  width:         100%;
}

.image-caption {
  box-shadow:    0px 0px 10px 0px #afafaf;
  border:        1px solid #ccc;
  margin-top:    -16px;
  border-radius: 0px 0px 5px 5px;
  border-width:  0px 1px 1px 1px;
  padding:       10px;
  text-align:    center;

  &.vertical {
    margin-bottom: 10px !important;
    margin-top:    -15px !important;

    margin:  0 auto;
    display: table;
    width:   100%;
  }

  @include media-breakpoint-up(md) {
    &.vertical {
      width: 45%;
    }
  }
}

.video-caption {
  box-shadow:    0px 0px 10px 0px #afafaf;
  border:        1px solid #ccc;
  margin-top:    -16px;
  border-radius: 0px 0px 5px 5px;
  border-width:  0px 1px 1px 1px;
  padding:       10px;
  text-align:    center;
}