.album-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: calc(var(--layout-section-gap) / 2);

  figure {
    margin-top: var(--layout-section-gap);
    vertical-align: middle;
    width: 100%;

    display: inline-block;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      margin-bottom: -40px;
      margin-bottom: -12px;
      transition: transform 0.9s ease;

      &:hover {
        transform: scale(1.04);
      }
    }
  }

  @media (max-width: 800px) {
    .photo-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 600px) {
    .photo-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}