.contact {
  display: flex;
  gap: var(--gap-md);

  .text,
  .image {
    flex: 1;
    margin: auto;
    width: 50%;
  }

  .text {
    form {
      display: flex;
      flex-direction: column;
      gap: var(--gap-md);

      input, textarea {
        font-size: var(--font-size-primary);
        width: 100%;
        transition: border var(--transition);
        border-width: 0 0 1px 0;
        border-color: var(--fg-secondary);
        border-style: solid;
        border-radius: 0;
        padding: var(--gap-md) 0;

        &:focus {
          border-color: var(--fg-primary);
          outline: none;
        }
      }

      textarea {
        resize: vertical;
        min-height: 120px;
      }

      button {
        padding: var(--gap-md);
        margin-top: var(--gap-md);
        background-color: var(--fg-primary);
        color: var(--bg-primary);
        border: none;
        font-size: var(--font-size-primary);
        cursor: pointer;
        transition: background-color var(--transition);

        &:hover {
          background-color: var(--fg-secondary);
        }
      }
    }

    @media (max-width: 576px) {
      margin: 0 var(--gap-md);
    }
  }

  .image {
    img {
      width: 100%;
      height: 80vh;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}