.curriculum-vitae {
  @media (max-width: 576px) {
    padding: 0 var(--layout-section-gap);
  }

  section {
    &:not(:first-child) {
      margin-top: calc(var(--layout-section-gap) * 2);
    }

    figure {
      margin-bottom: calc(var(--layout-section-gap));

      figcaption {
        font-weight: bold;
        margin-bottom: var(--layout-section-gap);

        small {
          display: block;
          font-weight: lighter;
        }
      }
    }
  }

  .experience, .education {
    figure {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1.5rem;
      align-items: start;

      .logo {
        img {
          filter: grayscale(100%);
          width: 48px;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      .text {
        figcaption {
          font-weight: bold;
          margin-bottom: var(--layout-section-gap);

          small {
            display: block;
            font-weight: lighter;
          }
        }
      }
    }
  }
}