.curriculum-vitae {
  @media (max-width: 576px) {
    padding: 0 var(--layout-section-gap);
  }

  section {
    &:not(:first-child) {
      margin-top: calc(var(--layout-section-gap) * 2);
    }

    figcaption {
      font-weight: bold;
      margin-bottom: var(--layout-section-gap);

      small {
        display: block;
        font-weight: lighter;
      }
    }
  }
}