.feature-grid {
  display: flex;
  flex-wrap: wrap;

  .column {
    flex: 1;
    padding: 0 var(--gap-md);

    @media (min-width: var(--grid-md)) {
      padding: 0 var(--gap-sm);

      &:first-child {
        padding: 0 var(--gap-sm) 0 0;
      }

      &:last-child {
        padding: 0 0 0 var(--gap-sm);
      }
    }

    figure {
      border-radius: 10px;
      margin-top: var(--gap-md);
      vertical-align: middle;
      width: 100%;

      display: inline-block;
      overflow: hidden;

      @media (max-width: 768px) {
        border-radius: 0px;
      }

      img {
        display: block;
        width: 100%;
        margin-bottom: -12px; /* hides signatures */
        transition: transform 0.9s ease;

        &:hover {
          transform: scale(var(--scale));
        }
      }
    }
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
}