.feature-grid {
  display: flex;
  flex-wrap: wrap;

  .column {
    flex: 1;
    padding: 0 var(--gap-md);

    @media (max-width: 768px) {
      &:not(:first-child) {
        margin-top: var(--gap-md);
      }
    }

    figure {
      border-radius: 10px;
      vertical-align: middle;
      width: 100%;  
      display: inline-block;
      overflow: hidden;

      &:not(:first-child) {
        margin-top: var(--gap-md);
      }

      @media (max-width: 768px) {
        border-radius: 0;
      }

      img {
        display: block;
        width: 100%;
        margin-bottom: -12px; /* hides signatures */
        transition: transform 0.9s ease;

        &:hover {
          transform: scale(var(--scale));
        }
      }
    }
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
}