@import url("header.css?v=1.0");
@import url("footer.css?v=1.0");

:root {
  --font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  --font-size: 0.9rem;
  --font-weight: 400;
  --line-height: 1.5;

  --bg-primary: white;
  --bg-secondary: #fafafc;
  --bg-third: #f5f5f7;
  --fg-primary: #212529;
  --fg-secondary: #6e6e6e;
  --fg-inverted: white;

  --menu-font-size: 0.8rem;
  --subscript-font-size: 0.74rem;

  --layout-section-gap: 16px;
  --transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);

  background-color: var(--bg-primary);
  color: var(--fg-primary);
  width: 100%;
  overflow-x: hidden;
}

main {
  padding-top: var(--layout-section-gap);

  h1 {
    font-size: calc(var(--font-size) * 1.48);
    font-weight: 500;
    margin-top: var(--layout-section-gap);
    margin-bottom: calc(var(--layout-section-gap) * 1.4);
  }

  p {
    font-weight: 400;
    line-height: calc(var(--line-height) * 1.02);
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.container {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.container-fluid {
  margin: 0 var(--layout-section-gap);
}

.loader {
  display: none !important;
}