.masonry-grid {
  column-count: 5;
  column-gap: var(--layout-section-gap);

  figure {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 12px;

    display: block;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      margin-bottom: -12px; /* hides signatures */
      transition: transform 0.9s ease;

      &:hover {
        transform: scale(1.04);
      }
    }
  }
}