.menu {
  position: absolute;
  display: flex;
  top: 40px;
  left: 0;
  width: 100%;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.3s;

  .item {
    padding: 0 20px;

    a {
      color: #f6f3ef;
      font-size: 0.8em;
      line-height: 1;
      transition: 0.3s;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      position: relative;
      text-align: center;

      &:hover {
        &:after {
          background-color: #f6f3ef;
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: -3px;
          left: -1px;
          opacity: 1;
        }
      }
    }
  }
}
