.parallax {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
  margin: var(--gap-md) 0;

  .background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

    @media (max-width: 768px) {
      background-attachment: scroll;
    }
  }

  .content {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fg-inverted);
    font-size: var(--font-size-large);
    text-shadow: 0 0 16px var(--fg-primary);
    padding: var(--gap-xl);
    text-align: center;
  }

  &.timelapse {
    .background {
      background-image: url('../media/images/sections/timelapse.webp');
    }
  }

  &.about {
    height: auto;

    .background {
      background-image: url('../media/images/sections/about.webp');
    }

    .content {
      gap: var(--gap-xl);
      display: flex;
      align-items: stretch; 

      .text,
      .image {
        flex: 1;
        margin: auto;
      }

      .image {
        flex: 0 0 30%;
        margin: inherit;

        img {
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      .text {
        flex: 1;
        font-size: var(--font-size-primary);
        text-align: left;
      }
    }
  }
}