.parallax {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;

  margin: var(--gap-xl) 0;

  .background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

    &.timelapse {
      background-image: url('../media/images/sections/timelapse.webp');
    }

    @media (max-width: 768px) {
      background-attachment: scroll;
    }
  }

  .content {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fg-inverted);
    font-size: var(--font-size-large);
    text-shadow: 0 0 16px var(--fg-primary);
    padding: var(--gap-sm);
    text-align: center;
  }
}