
main {
  position: relative;
  display: flex;
  height: 80vh;
  width: 100%;
  margin: auto 0;

  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 100%;

    strong {
      font-size: min(14vw, 40vh);
    }
  }
}